body{
	margin: 0;
	padding: 0;
	background-color: #bcbcbc;
}

header{
	width: 100%;
	height: 50px;
	position: sticky;
	top: 0;
}

header a{
	display: flex;
	justify-content: center;
	color: white;
	text-decoration: none;
	margin-top: 10px;
}

.out_header{
	width: 100%;
	height: 100%;
	background-color:  #bcbcbc;
	opacity: 90%;
}

.inner_header{
	color: black;
	width: 100%;
	height: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	border-bottom: 1px solid black;
}

.links_header{
	height: 100%;
	width: 100px;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-radius: 4px;
	margin-right: 10px;
}

/*-----------------------------------------*/

.content{
	display: flex;
	justify-content: center;
	width: 100%;
	min-height: 500px;
	/*margin-bottom: 500px;*/
}

.img_content{
	margin-top: 10px;
	margin-left: 40px;
}

.content_table{
	border-radius: 10px;
	border: 5px solid black;
}

.content_table tr th{
	border: 1px solid black;
	border-radius: 5px;
}

.content_inner{
	width: 900px;
	min-height: 500px;
	background-color: #e7e7e7;
	font-size: 25px;
	padding: 20px;
}

.text_second{
	text-align: center;
}

.padding_end{
	margin-bottom: 100px;
}

.img_two{
	display: flex;
}

.img_row{
	width: 450px;
}